<!DOCTYPE html>
<html lang="en">
<html>

<h1>AB-1 building</h1>
<h1>Keeping Our Campus Clean</h1>

<body bgcolor=>

    <h4 class="section-building"> Select Your Location</h4>
    <div id="AB-1 building"></div>
    <ul style="list-style:disc;">
        <div id="AB-1 building"></div>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">Sub floor </a>
        </li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">Main floor </a>
        </li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">2nd floor</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">3rd floor</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">4th floor</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">5th floor</a></li>
    </ul>
</body>

</html>

