<!DOCTYPE html>
<html lang="en">
<html> 

<h1>Bedford Building</h1>
<h1>Keeping Our Campus Clean</h1>

<body bgcolor=>
    
    <h4 class="section-building"> Select Your Location</h4>
    <div id="Bedford Building"></div>
    <ul style="list-style:disc;">
        <div id="bedford floors"></div>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html"> library sub floor</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">library main floor </a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">2nd floor in the library </a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">first floor</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\re.html">2nd floor</a></li>
    </ul>
</body>
</html>