{% extends 'templates/layouts/master.html' %}
{% set title = 'Bin Directions' %}
{% set current_page = 'Directions on ' + floor.name + ' floor for ' + building.name + ' building' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.2/build/pannellum.css"/>
    <style>
        #panorama {
            width: 100%;
            height: 400px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="floor-image mx-auto">
        <div id="panorama"></div>
    </div>
    <h1 class="font-black text-white underline mb-5 max-w-4xl mx-auto">
            There's
            {% if bins|length > 1 %}
                {{ bins|length }} bins 
            {% elif bins|length == 0 %}
                no bins 
            {% elif bins|length == 1 %}
                one bin
            {% endif %}
            in this location
    </h1>
    <ul class="bin-directions max-w-4xl mx-auto mb-5">
        {% for bin in bins %}
            <li class="bin-header">Bin {{ bin.id }}</li>
                {% for direction in bin.directions %}
                    <li class="direction">                    
                        <div class="step">
                            <span>{{ direction.step }}</span>
                        </div>
                        <div class="directmessage">{{ direction.message | safe }}</div>
                    </li>
                {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pannellum/2.5.2/pannellum.js"></script>
<script>
let panoViewer = pannellum.viewer('panorama', {
    type: "equirectangular",
    //panorama: '/assets/images/main_50.jpg',
    panorama: 'https://{{ http_host }}/assets/images/buildings/{{ building.name|lower }}/floors/{{ floor.name|lower }}/{{ floor.name|lower }}.jpg',
    autoLoad: true,
    hfov: 90,
    compass: true,
    northOffset: 180,
    hotSpots: [
        {% for hotspot in hotspots %}
            {
                pitch: {{ hotspot.pitch }},
                yaw: {{ hotspot.yaw }},
                type: 'info',
                text: "{{ hotspot.text or 'Bins'}}"
            },
        {% endfor %}
    ]
});

panoViewer.on('error', function () {
    document.getElementById('panorama').style.display = 'none'
})
</script>
{% endblock %}