<ul>
    <div id="bedford floors"></div>
    <li><a href=""> library sub floor</a></li>
    <li><a href="">library main floor </a></li>
    <li><a href="">2nd floor in the library </a></li>
    <li><a href="">first floor</a></li>
    <li><a href="">2nd floor</a></li>
    <li><a href="">Sub floor</a></li>
</ul>

<ul>

    <div id="AB1 floors"></div>
    <li><a href="">Sun floor</a></li>
    <li><a href="">Main floor</a></li>
    <li><a href="">2nd floor</a></li>
    <li><a href="">3rd floor</a></li>
    <li><a href="">4th floor</a></li>
    <li><a href="">5th floor</a></li>
</ul>