{% extends 'templates/layouts/master.html' %}
{% set current_page = 'Select Building' %}

{% block header %}
    <h1> HOME PAGE</h1>
{% endblock %}

{% block body %}
    <h2 class="text-2xl text-white w-4/5 mx-auto md:w-full md:mx-0"> Select... </h2>

    <!-- List of buildings -->
    <ul class="menu mb-5 flex-col md:flex-row">
        {% for building in buildings %}
            <li class="mx-auto w-4/5 mb-5 md:mb-0 md:w-40 md:ml-0 md:mr-5"><a href="{{ '/floors?building=' + building.street_number|string }}">{{ building.name }}</a></li>
        {% endfor %}
    </ul>

    <p class="text-center text-3xl font-bold text-white mb-5">
        Need Help?
    </p>
    <div id="help-buttons" class="flex justify-center flex-col md:flex-row">
        <a class="md:mr-5 w-4/5 mx-auto md:mx-0 md:w-40 mb-5 md:mb-0" target="_blank" href="https://www.grownyc.org/recycling/whattorecycle">Recycling info</a>
        <a class="w-4/5 mx-auto md:mx-0 md:w-40" target="_blank" href="https://www.rubiconglobal.com/truth-about-trash/">What is Landfill?</a>
    </div>
{% endblock %}