{% extends 'templates/layouts/master.html' %}
{% set current_page = 'Select Building' %}

{% block header %}
    <h1> HOME PAGE</h1>
{% endblock %}

{% block body %}
    <h2 class="text-2xl text-white"> Select... </h2>

    <!-- add select buttons -->
    <!-- List of buildings -->
    <ul class="menu mb-5">
        {% for building in buildings %}
            <li><a href="{{ '/floors?building=' + building.street_number|string }}">{{ building.name }}</a></li>
        {% endfor %}
        <!-- <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\bbuild.html">Bedford Building</a></li>
        <li><a href="\\wsl$\Ubuntu-18.04\home\rasheek\pworks\keeping-green\templates\AB-1.html">AB-1</a></li> -->
    </ul>


    <p class="text-center text-3xl font-bold text-white mb-5">
        Need Help?
    </p>
    <div id="help-buttons" class="flex justify-center">
            <a class="mr-5" href="https://www.grownyc.org/recycling/whattorecycle">Recycling info</a>
            <a href="https://www.rubiconglobal.com/truth-about-trash/">What is Landfill?</a>
    </div>

    <!-- <div id ="footer"> </div> 
    <div id="leftmenu">

    </div> -->
{% endblock %}