<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>

<h1 id = "header"> HOME PAGE</h1>
<!-- add border -->
<h2 id="selectortext"> Select... </h2>

 <!-- add select buttons -->
<ul id="menu">
    <li><a href="">Bedford Building</a></li>
    <li><a href="">AB-1</a></li>
</ul>

<ul>
    <li><a href="https://www.grownyc.org/recycling/whattorecycle">Recycling info</a></li>
    <li><a href="https://www.rubiconglobal.com/truth-about-trash/">What is Landfill?</a></li>
</ul>

<div id ="footer"> </div> 
<div id="leftmenu"
> </div>
</body>
</html>